<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}">
{{- end }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{- $styles := resources.Get "css/main.css" | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{- with .Site.Params.customCSS }}
  {{- range . }}
    {{- $custom := resources.Get . | fingerprint }}
    <link rel="stylesheet" href="{{ $custom.RelPermalink }}" integrity="{{ $custom.Data.Integrity }}">
  {{- end }}
{{- end }}
